# Class work 14/09/2025

In [ ]:
# My try
# x = int(input("enter a number: "))
# for num in x:
#     if (num == 5):
#       break
#     elif(num %4 == 0):
#       pass
#     print(num * num)

#From Class
while True:
  num = int(input("enter a number: "))
  if (num == 5):
    break
  elif(num %4 == 0):
    continue
  print(num ** 2)

enter a number: 1
1
enter a number: 5

In [ ]:
for i in range(3):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****

In [ ]:
for i in range(6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

In [19]:
rows = 4

for i in range(rows):
  for j in range(rows-i-1):
      print(" ",end="")
  for z in range(2*i+1):
      print("*",end="")
  print()

   *
  ***
 *****
*******

In [20]:
rows = 4

for i in range(rows):
    print(" " * (rows - i - 1) + "*" * (2 * i + 1))

for i in range(n - 2, -1, -1):
    print(" " * (n - i - 1) + "*" * (2 * i + 1))

   *
  ***
 *****
*******
 *****
  ***
   *